<div th:fragment="footer">
    <link rel="stylesheet" href="/css/footer.css" />

    <footer class="rodape">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a class="logo navbar-brand" href="#">Patro<span>Serviços</span></a>
                    <p>Conectando profissionais e clientes em Patrocínio-MG e região.</p>
                    <div class="redes-sociais">
                        <a href="#" class="link-social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="link-social"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="link-social"><i class="fab fa-whatsapp"></i></a>
                        <a href="#" class="link-social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <h3 class="titulo-rodape">Links</h3>
                    <ul class="links-rodape">
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Ajuda</a></li>
                        <li><a href="#">Termos</a></li>
                        <li><a href="#">Privacidade</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4">
                    <h3 class="titulo-rodape">Para Profissionais</h3>
                    <ul class="links-rodape">
                        <li><a href="#">Cadastrar serviços</a></li>
                        <li><a href="#">Como funciona</a></li>
                        <li><a href="#">Dicas</a></li>
                        <li><a href="#">Planos</a></li>
                    </ul>
                </div>
            </div>

            <div class="copyright">
                <p>&copy; 2023 PatroServiços - Todos os direitos reservados</p>
            </div>
        </div>
    </footer>
</div>